

<canvas #canvas class="webgl" id="canvas"></canvas>



<input style="color:white;padding-left: 1000px;" type="file" id="file-input"  (change)="uploadFile($event)">
<div class="ifc-tree-menu">
  <ul id="myUL">
    <li id="tree-root">
      <span class="caret">Beverages</span>
      <ul class="nested">
        <li>Water</li>
        <li>Coffee</li>
        <li>
          <span class="caret">Tea</span>
          <ul class="nested">
            <li>Black Tea</li>
            <li>White Tea</li>
            <li><span class="caret">Green Tea</span>
              <ul class="nested">
                <li>Sencha</li>
                <li>Gyokuro</li>
                <li>Matcha</li>
                <li>Pi Lo Chun</li>
              </ul>
            </li>
          </ul>
        </li>
      </ul>
    </li>
  </ul>
</div>
